#anchorPane{
    -fx-pref-width:340;
    -fx-pref-height:310;

    -fx-min-width:400;
    -fx-max-width:400;

    -fx-min-height:300;
    -fx-max-height:600;
}
/*---------------------------------*/

Vbox{
    -fx-padding:15;
    -fx-spacing:10;

    -fx-pref-width:340;
    -fx-pref-height:310;

    -fx-min-width:400;
    -fx-max-width:400;

    -fx-min-height:300;
    -fx-max-height:600;
}

#hbox{
    -fx-alignment:center;
}

/*---------------------------------*/
#title{
    -fx-text-fill: #0C192C;
    -fx-font-family:'Helvetica';
    -fx-font-size:18px;
    -fx-font-weight: bold;
    -fx-underline:true;
}
#planeText{
    -fx-text-fill: #0C192C;
    -fx-font-family:'Helvetica';
    -fx-font-size:15px;
    -fx-font-weight: bold;
}
#newText{
    -fx-text-fill: #0C192C;
    -fx-font-family:'Helvetica';
    -fx-translate-x:10;
    -fx-font-size:15px;
}


/*---------------------------------*/

.button{
   -fx-background-color: #800600;
      -fx-background-radius: 15;
      -fx-text-fill: white;

      -fx-border-radius: 15;
       -fx-effect: dropshadow(gaussian,#95322D, 2,0,1,2);
}
.button:pressed{
    -fx-background-color: #FFF0F0;
    -fx-text-fill:black;
}