.root{
    -fx-background-color: white;
}


#VBoxIzq{
        -fx-pref-height:200;

}

#toolbar{
    -fx-background-color:#FFF0F0;

    -fx-border-width:2px;
    -fx-padding:5px;

    -fx-spacing:10;
}


.button{

    -fx-background-color: #800600;
    -fx-background-radius: 15;
    -fx-text-fill: white;

    -fx-border-radius: 15;
     -fx-effect: dropshadow(gaussian,#95322D, 2,0,1,2);

}

.button:pressed{
    -fx-background-color: #FFF0F0;
    -fx-text-fill:black;
}



.check-box{
    -fx-text-fill: black;
    -fx-font-family:'Verdana';
    -fx-font-style:italic;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color: #800600;
	-fx-border-radius: 3px;
}
.check-box:selected .mark {
	-fx-background-color: white;
}
.check-box:selected .box {
	-fx-background-color: #800600;
}

